<head>
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta content="width=device-width, initial-scale=1" name="viewport">
{% seo %}
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="keywords" content="[computer vision, deep learning, object detection, deep learner, tensorflow, convolutional neural netowrks, python, r for data science, deployment, cloud ml]"/>
<!-- Fav Icons of Different Sizes for Devices -->
<link rel="icon" type="image/png" href="/assets/images/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.webp">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.webp">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.webp">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/android-chrome-192x192.webp">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/android-chrome-512x512.webp">
<!-- Fav Icons End -->
<style type="text/css">body{color:#202020}</style>
<link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" onload="this.media='all'; this.onload=null;>
<script data-ad-client="ca-pub-6920696800834585" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>