<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="icon" type="image/webp" href="{{ '/assets/images/favicon-32x32.webp' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/apple-touch-icon.webp' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/refresh.css' | relative_url }}">
  <script data-ad-client="ca-pub-6920696800834585" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="google-site-verification" content="1LO3TSIxeeNWjGMHqMznkmBaXeBmBpBZDqdsuM5Np-U">
</head>
