<head>
 <!--  <meta property="og:locale" content="en_US"> -->
<!-- favicons -->
<!-- <link rel="shortcut icon" href="/assets/images/iconified/apple-touch-icon.png" type="image/x-icon" /> -->
  <!-- Hotjar Tracking Code for https://cheloverboard.netlify.com/ -->
 <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
 <meta content="width=device-width, initial-scale=1" name="viewport">
 {% seo %}
 <meta charset="utf-8">
 <title>{{ page.title }}</title>
 <style type="text/css">body{color:#202020}</style>
 <link rel="stylesheet" href="/assets/css/packages/styles/default.css">
 <script src="/assets/css/packages/highlight.pack.js"></script>
 <script>hljs.initHighlightingOnLoad();</script>
 <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" onload="this.media='all'; this.onload=null;>

 <meta name="google-site-verification" content="1LO3TSIxeeNWjGMHqMznkmBaXeBmBpBZDqdsuM5Np-U" />
  <!-- Google Adsense Code -->
 <!--  <script data-ad-client="ca-pub-6920696800834585" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
  <!-- End Of Adsense Code -->
  </head>