<nav class="navbar navbar-expand-lg navbar-custom">
  
  <!-- Navbar Brand -->
  <a class="navbar-brand" href="channelai.netlify.com"><img src="/assets/images/CHANNEL AI_free-file (1).png" width="80" height="80" alt="ChannelAI"></a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler dropdown-toggle-align" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav" style="color:black;">

  	<!-- Links -->
    <ul class="navbar-nav mr-auto waves-effect waves-light">
      {% for item in site.data.navigation %}
      <a class="nav-item nav-link" href="{{item.link}}">{{ item.name }}</a>
      {% endfor %}
    </ul>
    </div>
</nav>