.navbar-custom {
  background-color: #24BCF9;
  width: 100%;
  min-height: 8vh;
  margin: 0 auto;
  box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.4),
    -5px 3px 20px 3px rgba(0, 0, 0, 0.7);
}
.navbar-custom div ul a {
    color: black;
    font-weight: 600;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}
@media (max-width: 990px) {
  .navbar-custom {
    min-height: 46px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.4),
    -5px 0px 10px 3px rgba(0, 0, 0, 0.6);
  } 
}
.navbar-custom div ul a {
  margin-left: 40px;
}
.navbar-custom ul:hover > a{
  opacity: 1;
}
@media (min-width: 979px) {
  ul li.dropdown:hover >    div.dropdown-menu {
    display: block;
}}
.navbar .dropdown-menu {
 margin-top: 0px;
}
.dropdown-toggle-angle::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 19px/0 FontAwesome;
  content: "\f107";
}
.dropdown-toggle-align::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 23px/1 FontAwesome;
  content: "\f036";
}
@media (max-width: 950px) {
  .navbar-custom ul li div:hover > a {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}}
body {
font-family:'Lato';
font-size: 20px;
}

