.navbar-custom {
  background-color: black;
  width: 100%;
  min-height: 6vh;
  margin: 0 auto;
}
.navbar-custom div ul a {
    color: white;
    font-size: 19px;
    font-family: sans-serif;
}
@media (max-width: 990px) {
  .navbar-custom {
    min-height: 46px;
  } 
}
.navbar-custom div ul a {
  margin-left: 60px;
}
.navbar-custom div ul:hover > a{
  opacity: 1;
}
@media (min-width: 979px) {
  ul li.dropdown:hover >    div.dropdown-menu {
    display: block;
}}
.navbar .dropdown-menu {
 margin-top: 0px;
}
.dropdown-toggle-angle::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 19px/0 FontAwesome;
  content: "\f107";

}
@media (max-width: 950px) {
  .navbar-custom ul li div:hover > a {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}}
body {
font-family: sans-serif;
font-size: 18px;
}

.footer-style {
	background-color: #222F34;
	padding: 17px;
}
.copyright {
	background-color: #23271F;
	color: #5C6365;
}
.site-n-privacy {
	color: white;
}
div:hover > .site-n-privacy {
	color: white;
	text-decoration: none;
}
.signup-footer {
	color: white;
	background-color: #23271F;
	border: 2px white solid;
	margin: 5px;
	font-size: 12px;
}
/* Homepage CSS */
.intro-home {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: Rubik;
}
.intro-button {
  background-color: black;
  font-size: 19px;
  color: white;
  font-weight: 600;
  padding: 15px;
  text-align: center;
  float: center;
}
a:hover > .intro-button {
  background-color: white;
  color: black;
  border: 2px solid black
}
.social-icons {
  display: inline-block;
  padding: 1rem;
  font: normal normal normal normal 55px/1 FontAwesome;
}
.learn-create-consult {
  list-style-type: none;
  padding: 0px;
}
.homepage {
  padding-top: 7%;
  text-align: center;
  font-size: 19px;
}
.chevron {
  background-color: black;
  border: none;
  color: white;
  padding: 9px 15px 9px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50%;
}
.cards-foot{
  background-color: #24BCF9;
}
.cards-foot a{
  color: black;
  font-size: 17px;
  font-family: Rubik;
}

/* Blog's Page CSS */
.blog-container {
  padding-top: 10%;
}
.blog-post-header {
  font-weight: 800;
  color: black;
  font-family: Rubik;
}
@media (max-width: 750px) {
  .blog-post-header {
    font-size: 23px;
  } 
}
h3:hover > .blog-post-header {
  color: black;
  text-decoration: none;
}
.blog-links {
  color: #24BCF9;
}
em:hover > .blog-links {
  text-decoration: none;
  color: #24BCF9;
}
/* Blog Refined Page */
.games-page{
  padding-top: 25px;
}
h4 .game-title{
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
}
h4:hover > .game-title{
  color: #24BCF9;
}
.card-for-games{
  box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,0.3),
    -3px 10px 20px 2px rgba(0, 0, 0, 0.3);
}
/* End of Blog Page*/

/* End of Blog's Page CSS */

/* Post's Layout for Post.md CSS */
table tr th {
  background-color: grey;
}
th, td {
  padding: 7px;
}
th {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.post-header {
  font-size: 35px;
  font-weight: 700;
}
.blog-headers {
  text-align: center;
  color: #24BCF9;
  font-weight: 600;
  font-family: cursive;
}
.blog-lists {
  padding: 0px;
}
.codes {
  background-color: rgba(195,195,195,0.8);
  border-radius: 10px;
}

/* Footer's CSS */
footer div ul li a {
  color: black;
  font-size: 18px;
}
footer:hover > div ul li a {
  text-decoration: none;
}
@media (min-width: 979px) {
  .footer-copyright {
    float: center;
}}
@media (min-width: 979px) {
  .netlify {
    float: center;
}}
.site-n-privacy {
  color: white;
}

.intro-text { 
  background-color: #FFE928;
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 75px 15px;
  border-top: 2px solid white;
}
.exit-text { 
  background-color: black;
  width: 100%;
  height: 20%;
  text-align: center;
  padding: 75px 15px;
}
.exit-home {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  font-family: Rubik;
  color: white;
}
.intro-home {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: Rubik;
}
.intro-button {
  background-color: black;
  font-size: 19px;
  color: white;
  font-weight: 700;
  padding: 25px;
  text-align: center;
}
.exit-button {
  background-color: #DD2121;
  font-size: 17px;
  color: white;
  font-weight: 700;
  padding: 18px;
  text-align: center;
  border-radius: 9px;
}
a:hover > .exit-button {
  background-color: white;
  color: black;
  border: 1px solid black
}
.intro-buttonr {
  background-color: #DD2121;
  font-size: 19px;
  color: white;
  font-weight: 700;
  padding: 25px;
  text-align: center;
}
a:hover > .intro-button {
  background-color: white;
  color: black;
  border: 2px solid black
}
a:hover > .intro-buttonr {
  background-color: white;
  color: black;
  border: 2px solid black
}
.help-task {
  font-size: 50px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #07C6D3;
  text-align: center;
}
.latest-posts {
  text-align: center;
  color: black;
  background-color: #FFE928;
  width: 20%;
}