.navbar-custom {
  background-color: #24BCF9;
  width: 100%;
  min-height: 8vh;
  margin: 0 auto;
  box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.4),
    -5px 3px 20px 3px rgba(0, 0, 0, 0.7);
}
.navbar-custom div ul a {
    color: black;
    font-weight: 600;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
}
@media (max-width: 990px) {
  .navbar-custom {
    min-height: 46px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.4),
    -5px 0px 10px 3px rgba(0, 0, 0, 0.6);
  } 
}
.navbar-custom div ul a {
  margin-left: 40px;
}
.navbar-custom ul:hover > a{
  opacity: 1;
}
@media (min-width: 979px) {
  ul li.dropdown:hover >    div.dropdown-menu {
    display: block;
}}
.navbar .dropdown-menu {
 margin-top: 0px;
}
.dropdown-toggle-angle::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 19px/0 FontAwesome;
  content: "\f107";
}
.dropdown-toggle-align::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 23px/1 FontAwesome;
  content: "\f036";
}
@media (max-width: 950px) {
  .navbar-custom ul li div:hover > a {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}}
body {
font-family: 'Lato';
font-size: 18px;
}

.footer-style {
	background-color: #222F34;
	padding: 17px;
}
.copyright {
	background-color: #23271F;
	color: #5C6365;
}
.site-n-privacy {
	color: white;
}
div:hover > .site-n-privacy {
	color: white;
	text-decoration: none;
}
.signup-footer {
	color: white;
	background-color: #23271F;
	border: 2px white solid;
	margin: 5px;
	font-size: 12px;
}
/* Homepage CSS */
.intro-home {
  text-align: center;
 font-family: Rubik, sans-serif;
/*  font-size: 45px; */
}
/* @media (max-width: 990px) {
  .navbar-custom {
    min-height: 46px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.4),
    -5px 0px 10px 3px rgba(0, 0, 0, 0.6);
  } 
} */
.social-icons {
  display: inline-block;
  padding: 0.9rem;
  font: normal normal normal normal 55px/1 FontAwesome;
}
.learn-create-consult {
  list-style-type: none;
  margin: 0px 5px 0px -28px;
/*   text-align: center; */
}
.homepage {
  padding-top: 7%;
  text-align: center;
}
.chevron {
  background-color: black;
  border: none;
  color: white;
  padding: 9px 15px 9px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  border-radius: 50%;
}
.cards-foot{
  background-color: #24BCF9;
}
.cards-foot a{
  color: black;
  font-size: 17px;
  font-family: Rubik;
}

/* Resources Page's CSS */
.resources-page {
  padding-top: 10%;
}
.resources-header {
  font-size: 30px;
  font-weight: 650;
}
.resources-body {
  font-size: 19px;
  line-height: 35px;
}
.resources-body li {
  color: rgba(45,142,249,1);
  font-weight: 500;
}
.resources-list {
  font-size: 27px;
  font-weight:600;
}
/* End Of Resources Page's CSS */


/* Blog's Page CSS */
.blog-container {
  padding-top: 10%;
}
.blog-post-header {
  font-weight: 800;
  color: black;
  font-family: Rubik;
}
@media (max-width: 750px) {
  .blog-post-header {
    font-size: 23px;
  } 
}
h3:hover > .blog-post-header {
  color: black;
  text-decoration: none;
}
