---
layout: default
---
<!--  Main Container    -->
   <div class="container blog-container">
      
<!--   Beginning of Row   -->
     <div class="row">
<!--      Column   -->
      <div class="col-md-10 col-sm-12">
       <h1 class="post-header">{{ page.title | camellize }}</h1>

		<p>
			{{ page.date | date: "%b %-d, %Y" }}
  			{% assign author = site.authors | where: 'short_name', page.author | first %}
  			{% if author %}
  			- <a href="{{ author.url }}">{{ author.name }}</a>{% endif %}<p style="clear: left;">
  			<img src="{{ page.img-src }}.webp" class="img-fluid" alt="Responsive image"/>
			</p>
			<br>

            {{ content }}
        </div>
        <!-- End of Column -->
     </div>
     <!-- End of Row -->
 </div>
 <!-- End of Main Container -->